body {
  color: #576366;
  height: 800px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  padding-top: 40px;
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(237,216,228,1) 23%, rgba(214,140,184,1) 81%, rgba(214,140,184,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(23%, rgba(237,216,228,1)), color-stop(81%, rgba(214,140,184,1)), color-stop(100%, rgba(214,140,184,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(237,216,228,1) 23%, rgba(214,140,184,1) 81%, rgba(214,140,184,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(237,216,228,1) 23%, rgba(214,140,184,1) 81%, rgba(214,140,184,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(237,216,228,1) 23%, rgba(214,140,184,1) 81%, rgba(214,140,184,1) 100%);
}
